<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>wheel_balancing System</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <header>
    <h1>Welcome to WiseWheel</h1>
    <nav>
      <ul>
        <li><a href="http://127.0.0.1:2000/">Home</a></li>
        <li class="nav-link"><a href="/logout">Log out</a></li>
      </ul>
    </nav>
  </header>

  <h1>Registration Page</h1>
  <form action="/register" method="POST" onsubmit="return validateForm();">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>

    <input type="submit" value="Register">
  </form>

  <script>
    function showError(message) {
      alert(message);
      return false;
    }

    function validateForm() {
      const username = document.getElementById('username').value.trim();
      const email = document.getElementById('email').value.trim();
      const password = document.getElementById('password').value.trim();

      if (!username) {
        return showError('Please enter a username.');
      }

      if (!/^[a-zA-Z0-9_]{3,20}$/.test(username)) {
        return showError('Invalid username format.');
      }

      if (!email) {
        return showError('Please enter an email.');
      }

      if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(email)) {
        return showError('Invalid email format.');
      }

      if (!password) {
        return showError('Please enter a password.');
      }

      if (password.length < 8) {
        return showError('Password must be at least 8 characters.');
      }

      return true; // Form is valid, allow submission
    }
  </script>
</body>
</html>
